
//color
$color-light-primary: #7ed56f;
$color-medium-primary: #55c57a;
$color-dark-primary: #28b485;

$color-white: #fff;
$color-black: #000;
$color-grey-light-1:#f7f7f7;

$color-secondry-light:#ffb900;
$color-secondry-dark:#ff7730;


$color-tertiary-light:#2998ff;
$color-tertiary-dark:#5643fa;




//grid
$grid-width:114rem;
$grid-gutter:8rem;