.footer {
    background-color: #333;

&__logo-box {
padding: 8rem 0;
text-align: center;
}

&__logo {
  height: 12rem;


}

&__navigation {

}

&__list {
list-style: none;


}

&__item {
    display: inline-block;
   
    
}

&__link {

}

}