.composition {

    position: relative;

    &__photo {

        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4rem);
        position: absolute;
        border-radius: 2px;
        transition: all .2s;
        outline-offset: 1rem;

        @include responsive(tab-port){
            float: left;
            position: relative;
            width: 33.3333%;
            box-shadow: 0 1.5rem 3rem rgba($color-black, .2rem);
        }

        &--p1 {
            top: -2rem;
            left: 0;
            @include responsive(tab-port){
                top: 0;
                transform: scale(1.2);
            }
        }


        &--p2 {
            top: 2rem;
            right: 0;
            @include responsive(tab-port){
                top: 0;
                transform: scale(1.4);
                z-index: 10;
            }
        }

        &--p3 {
            top: 10rem;
            left: 20%;
            @include responsive(tab-port){
                top: 0;
                left: 0;
                transform: scale(1.2);
            }
        }

        &:hover {
            outline: 1rem solid $color-medium-primary;
            transform: scale(1.6);
            box-shadow: 0 1.5rem 5rem rgba($color-black, .5rem);
            z-index: 20;
        }

    }






}