.form {
    width: 60%;


    @include responsive(tab-port){
        width: 70%;

        }
    &__group:not(:last-child) {
        margin-bottom: 2rem;
    }

    &__input {

        font-family: inherit;
        font-size: 1.5rem;
        background-color: rgba($color-white, .5);
        padding: 1.5rem 2rem;
        border-radius: 2px;
        border: none;
        border-bottom: 3px solid transparent;
        width: 100%;
        display: block;
        color: inherit;



        &:focus {
            outline: none;
            border-bottom: 3px solid $color-dark-primary;
            box-shadow: 0 1rem 2rem rgba($color-black, .1);
        }

        &:focus:invalid {
            border-bottom: 3px solid $color-secondry-dark;
        }

        &::-webkit-input-placeholder {
            color: #777;
        }
    }

    &__label {
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: .7rem;
        transition: all .3s;
    }

    &__input:placeholder-shown+&__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }

    &__radio-group {
        width: 49%;
        display: inline-block;

        @include responsive(tab-port){
        width: 100%;
        margin-bottom: 2rem;
        }

    }

    &__radio-input {
        visibility: hidden;
    }

    &__radio-label {
        cursor: pointer;
        position: relative;
        padding-left: 3rem;
    }

    &__radio-button {
        height: 2rem;
        width: 2rem;
        border: 5px solid $color-dark-primary;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        top: -.5rem;
        left: -1rem;
        float: left;

        &::after {
            content: "";
            display: block;
            height: 1.2rem;
            width: 1.2rem;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $color-dark-primary;
            opacity: 0;
        }
    }


    &__radio-input:checked ~ &__radio-label &__radio-button::after {
opacity: 1;
    }



}