.form {
    width: 50%;

    &__group:not(:last-child) {
        margin-bottom: 2rem;
    }

    &__input {
        
        font-family: inherit;
        font-size: 1.5rem;
        background-color: rgba($color-white, .5);
        padding: 1.5rem 2rem;
        border-radius: 2px;
        border: none;
        border-bottom: 3px solid transparent;
        width: 100%;
        display: block;
    }

    &__input:focus {
        outline: none;
        border-bottom: 3px solid $color-dark-primary;
        box-shadow: 0 1rem 2rem rgba($color-black, .1);
    }

    &__label {}
}