.popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color-black, .8);
    z-index: 5000;
   opacity: 0;
   visibility: hidden;
   transition: all .3s;

   &:target {
    opacity: 1;
    visibility: visible;


   }


    &__box {
        // height: 60rem;
        width: 75%;
        background-color: $color-white;
        @include centerelement;
        border-radius: 5px;
        box-shadow: 0 1rem 2rem rgba($color-black, .2);
        overflow: hidden;
        display: table;

        opacity: 0;
        transform:  translate(-50%,-50%) scale(0);
        transition: all .3s .2s;

    }

    &__left {
        width: 33.3333%;
        display: table-cell;
        vertical-align: middle;
    }

    &__right {
        width: 66.66667%;
        display: table-cell;
        vertical-align: middle;
        padding:1rem 3rem;
    }

    &__img {
        width: 100%;
        display: block;
        border: none;

    }

    &__text {
        margin-bottom: 3rem;
        column-count: 2;
        column-gap: 4rem;
        column-rule: 1px solid #eee;
        hyphens: auto;
    }

&:target &__box {
    opacity: 1;
    transform:  translate(-50%,-50%) scale(1);
}




   &__close {
    &:visited,
    &:link {
        color: $color-black;
        position: absolute;
        top: 2.5rem;
        right: 3rem;
        text-decoration: none;
        font-size: 3rem;
        transition: all .3s;
        line-height: 1;
    }

    &:hover {
        color: $color-dark-primary;
    }
   }

}