.story {

    width: 75%;
    padding: 6rem;
    margin: auto;
    box-shadow: 0 3rem 6rem rgba($color-black, .1);
    border-radius: 3px;
    transform: skewX(-12deg);

    & > * {
        transform: skewX(12deg);
    }

    &__shape {
        width: 15rem;
        height: 15rem;
        shape-outside: circle(50% at 50% 50%);
        -webkit-shape-outside: circle(50% at 50% 50%);
        background-color: $color-grey-light-1;
        float: left;
        margin-right: 6rem;
        clip-path: circle(50% at 50% 50%);
        -webkit-clip-path: circle(50% at 50% 50%);
    }

    &__img {
        height:100% ;
    }

}