*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  
}


html {
    font-size: 62.5%;

    @include responsive(tab-land){ // is < 1200px?
        font-size: 56.25%;    // 1rem = 9px ; 9/16 = 56.25%
    }    
    @include responsive(tab-port){ // is < 900px?
        font-size: 50%;    //1rem = 8px ; 8/16 = 50%;
    }
   
    @include responsive(big-screens){
        font-size: 75%;   // 1rem = 12px ; 12/16 = 75%;
    }
}

body {

    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: #777;

    // box-sizing: border-box;
}


